<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group">
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body">
                <div>
                  <h2>Inconceivable!</h2>
                  <p>I do not think this page is where you think it is.</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In optio est illo distinctio quae sunt aliquid, iure quisquam 
                    libero repellendus vel eaque placeat rerum eligendi dolorum culpa ratione impedit fugit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>