<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 mb-3">
          <h3 class="pull-left">
              Hotel Details
          </h3>
          <div class="pull-right">
              <button type="button" *appHasRole="'Admin','Manager'" class="btn btn-primary" [routerLink]="['/hotel/edit']"><i class="fa fa-edit"></i>&nbsp;Edit</button>
          </div>          
      </div>
    </div>
    <div class="row">
          <div class="col-md-12 mb-4">
            <tabset>
              <tab heading="General Information">
                <div class="col-md-12">                     
                    <div class="card">
                      <div class="card-header">
                          <i class="fa fa-align-justify"></i>General Details
                      </div>          
                      <div class="card-body p-4">
                        <form class="form-horizontal" novalidate >
                          <div class="form-group row">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label" for="">
                                    Hotel Code</label>
                                  <div class="ico-help">
                                  <i class="fa fa-question-circle"></i>
                                  <span class="tooltiptext">The hotel reference.</span>
                                </div>
                              </div>
                            </div>   
                            <div class="col-md-9"><label class="mt-1" for="">{{ hotel.hotelCode }}</label></div>
                          </div>
                          <div class="form-group row">
                              <div class="col-md-3">
                                  <div class="label-wrapper"><label class="control-label" for="">
                                      Name</label>
                                    <div class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                    <span class="tooltiptext">The name of the hotel</span>
                                  </div>
                                </div>
                              </div>   
                              <div class="col-md-9"><label class="mt-1" for="">{{ hotel.hotelName }}</label></div>
                          </div> 
                          <div class="form-group row">
                              <div class="col-md-3">
                                  <div class="label-wrapper"><label class="control-label" for="">
                                      Address</label>
                                    <div class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                    <span class="tooltiptext">The hotel address.</span>
                                  </div>
                                </div>
                              </div>   
                              <div class="col-md-9"><label class="mt-1" for="">{{ getAddress }}</label></div>
                          </div> 
                          <div class="form-group row">
                              <div class="col-md-3">
                                  <div class="label-wrapper"><label class="control-label" for="">
                                      Phone</label>
                                    <div class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                    <span class="tooltiptext">The hotel phone.</span>
                                  </div>
                                </div>
                              </div>   
                              <div class="col-md-9"><label class="mt-1" for="">{{ hotel.phone }}</label></div>
                          </div>
                          <div class="form-group row">
                              <div class="col-md-3">
                                  <div class="label-wrapper"><label class="control-label" for="">
                                      Email</label>
                                    <div class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                    <span class="tooltiptext">The hotel email.</span>
                                  </div>
                                </div>
                              </div>   
                              <div class="col-md-9"><label class="mt-1" for="">{{ hotel.email }}</label></div>
                          </div> 
                          <div class="form-group row">
                              <div class="col-md-3">
                                  <div class="label-wrapper"><label class="control-label" for="">
                                      Hotel URL</label>
                                    <div class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                    <span class="tooltiptext">The hotel reference.</span>
                                  </div>
                                </div>
                              </div>   
                            <div class="col-md-9"><label class="mt-1" for="">{{ hotel.website }}</label></div>
                          </div>
                          <div class="form-group row">
                              <div class="col-md-3">
                                  <div class="label-wrapper"><label class="control-label" for="">
                                      Short Desc</label>
                                    <div class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                    <span class="tooltiptext">The hotel description.</span>
                                  </div>
                                </div>
                              </div>   
                              <div class="col-md-9"><label class="mt-1" for="">{{ hotel.introduction }}</label></div>
                          </div> 
                          <div class="form-group row">
                              <div class="col-md-3">
                                  <div class="label-wrapper"><label class="control-label" for="">
                                      Long Desc</label>
                                    <div class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                    <span class="tooltiptext">The hotel history.</span>
                                  </div>
                                </div>
                              </div>   
                              <div class="col-md-9" [innerHTML]="hotel.history | keepHtml"></div>
                          </div>                                                                                                                                                                                     
                        </form>
                      </div>
                    </div>
                </div>                                               
              </tab>
              <tab heading="Photos">
                  <div class="card">
                      <div class="card-header">
                          <i class="fa fa-align-justify"></i>Hotel
                      </div>
                      <div class="card-body p-4">
                          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>    
                      </div>
                  </div>
              </tab>
            </tabset>
          </div>
  </div>
</div>
