<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 mb-3">
        <h3 class="pull-left">
            Wakeup Calls
        </h3>
        <div class="ml-2 mt-2 pull-left">
            <i class="fa fa-arrow-circle-left"></i>
            <a [routerLink]="['/be/wakes']">back to wakeup call List</a>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary"  form="mainForm" (click)="saveWake()" [disabled]="!mainForm.valid">
              <i class="fa fa-floppy-o" ></i>&nbsp;Save</button>
            <button type="button" class="btn btn-primary" (click)="saveWake('stay')" [disabled]="!mainForm.valid">
              <i class="fa fa-floppy-o"></i>&nbsp;Save and Continue Edit</button>
            <button type="button" class="btn btn-danger"  (click)="deleteWakeup()" [hidden]="wake.id == 0">
              <i class="fa fa-trash-o"></i>&nbsp;Delete</button>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>  {{ pageTitle }}
          </div>
          <div class="card-body">
              <div class="col-lg-8">
                <form class="form-horizontal" novalidate (ngSubmit)="saveWake()" [formGroup]="mainForm" id="mainForm">
                  <fieldset>
                      <div class="form-group row">
                          <div class="col-md-3">
                              <div class="label-wrapper"><label class="control-label" for="bookStatus">Status</label>
                                <div class="ico-help">
                                <i class="fa fa-question-circle"></i>
                                <span class="tooltiptext">The status of this wakeup call.</span>
                              </div>
                            </div>
                          </div>                           
                          <div class="col-md-3">
                              <select id="bookStatus" formControlName="bookStatus" class="form-control" >
                                  <option *ngFor="let item of statusList" [ngValue]="item.value">{{ item.display }}</option>
                              </select>  
                          </div>
                      </div>                    
                    <div class="form-group row">
                      <div class="col-md-3">
                          <div class="label-wrapper"><label class="control-label" for="resTime">Booked For</label>
                              <div class="ico-help">
                              <i class="fa fa-question-circle"></i>
                              <span class="tooltiptext">The booking date and time.</span>
                            </div>
                          </div> 
                      </div>  
                      <div class="col-md-2">
                        <label class="mt-1" for="">{{ wake.resTime }}</label>                       
                      </div>                                                    
                      <div class="col-md-2">
                          <label class="mt-1" for="">{{ wake.resDate | date: 'dd-MMM-yyyy'}}</label>                       
                      </div>                                    
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                          <div class="label-wrapper"><label class="control-label" for="">Additional Request</label>
                              <div class="ico-help">
                              <i class="fa fa-question-circle"></i>
                              <span class="tooltiptext">The guest additional/special request.</span>
                            </div>
                          </div>
                        </div>   
                        <div class="col-md-9"><label class="mt-1" for="">{{ wake.request }}</label></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                          <div class="label-wrapper"><label class="control-label" for="feedback">Response Message</label>
                              <div class="ico-help">
                              <i class="fa fa-question-circle"></i>
                              <span class="tooltiptext">The response message to the guest if needed.</span>
                            </div>
                          </div>
                        </div>   
                        <div class="col-md-9"><textarea id="response" name="response" rows="3" formControlName="response" class="form-control" ></textarea> </div>                       
                    </div> 
                    <div class="form-group row">
                        <div class="col-md-3">
                          <div class="label-wrapper"><label class="control-label" for=""> Guest Name</label>
                              <div class="ico-help">
                              <i class="fa fa-question-circle"></i>
                              <span class="tooltiptext">The name of the guest.</span>
                            </div>
                          </div>
                        </div>   
                        <div class="col-md-9"><label class="mt-1" for="">{{ wake.guestName }}</label></div>
                      </div>   
                    <div class="form-group row">
                      <div class="col-md-3">
                        <div class="label-wrapper"><label class="control-label" for="">Email</label>
                            <div class="ico-help">
                            <i class="fa fa-question-circle"></i>
                            <span class="tooltiptext">The guest email address.</span>
                          </div>
                        </div>
                      </div>   
                      <div class="col-md-9"><label class="mt-1" for="">{{ wake.email }}</label></div>
                    </div>   
                    <div class="form-group row">
                      <div class="col-md-3">
                        <div class="label-wrapper"><label class="control-label" for="">Phone</label>
                            <div class="ico-help">
                            <i class="fa fa-question-circle"></i>
                            <span class="tooltiptext">The guest contact number.</span>
                          </div>
                        </div>
                      </div>   
                      <div class="col-md-9"><label class="mt-1" for="">{{ wake.phone }}</label></div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-3">
                        <div class="label-wrapper"><label class="control-label" for="">Room</label>
                            <div class="ico-help">
                            <i class="fa fa-question-circle"></i>
                            <span class="tooltiptext">The guest room number.</span>
                          </div>
                        </div>
                      </div>   
                      <div class="col-md-9"><label class="mt-1" for="">{{ wake.roomNumber }}</label></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="">
                                 Created</label>
                              <div class="ico-help">
                              <i class="fa fa-question-circle"></i>
                              <span class="tooltiptext">The created date and time.</span>
                            </div>
                          </div>
                        </div>   
                        <div class="col-md-9"><label class="mt-1" for="">{{ wake.createdOn | date: 'dd-MMM-yyyy hh:mm'}}</label></div>
                    </div>                        
                    <div class="form-group row">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="">
                                 Last Activity</label>
                              <div class="ico-help">
                              <i class="fa fa-question-circle"></i>
                              <span class="tooltiptext">The last activity date and time.</span>
                            </div>
                          </div>
                        </div>   
                        <div class="col-md-9"><label class="mt-1" for="">{{ wake.updatedOn | date: 'dd-MMM-yyyy hh:mm'}}</label></div>
                    </div>  
                    <div class="form-group row">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="">
                                 Updated By</label>
                              <div class="ico-help">
                              <i class="fa fa-question-circle"></i>
                              <span class="tooltiptext">The person who performed the last activity.</span>
                            </div>
                          </div>
                        </div>   
                        <div class="col-md-9"><label class="mt-1" for="">{{ wake.updatedBy }}</label></div>
                    </div>                                                                    
                  </fieldset>
                </form>
              </div>
        </div>
      </div>      
</div>
