.clearright {
    float: right;
    top: 0;
}
.clearleft {
    float: left;
    top: 0;
}
.clear {
    clear:both;
}
.btn-search {
    margin-top: 10px;
    min-width: 150px;
    padding: 7px 10px;
    font-size: 18px;
}