<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 mb-3">
        <h3 class="pull-left">
            Payment Method
        </h3>
        <div class="ml-2 mt-2 pull-left">
            <i class="fa fa-arrow-circle-left"></i>
            <a [routerLink]="['/be/payments']">back to Payment List</a>
        </div>
        <div class="pull-right">
            <button  class="btn btn-primary"   (click)="savePayment()" [disabled]="!mainForm.valid">
              <i class="fa fa-floppy-o" ></i>&nbsp;Save</button>
            <button  class="btn btn-primary" (click)="savePayment('stay')" [disabled]="!mainForm.valid">
              <i class="fa fa-floppy-o"></i>&nbsp;Save and Continue Edit</button>
            <button type="button" class="btn btn-danger"  (click)="deletePayment()" [hidden]="payment.id == 0">
              <i class="fa fa-trash-o"></i>&nbsp;Delete</button>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>  {{ pageTitle }}
          </div>
          <div class="card-body">
              <div class="col-lg-8">
                <form class="form-horizontal" novalidate (ngSubmit)="savePayment()" [formGroup]="mainForm" id="mainForm">
                  <fieldset>
                      <div class="form-group row">
                          <div class="col-md-3">
                              <div class="label-wrapper"><label class="control-label" for="paymentName">
                                <span class="text-danger"><strong>*</strong></span>&nbsp;Payment Type</label>
                                <div class="ico-help">
                                <i class="fa fa-question-circle"></i>
                                <span class="tooltiptext">The type of payment.</span>
                              </div>
                            </div>
                          </div>                                                     
                          <div class="col-md-9">
                            <input type="text" id="paymentName"  formControlName="paymentName" class="form-control" 
                              [ngClass]="{'is-invalid': displayMessage['paymentName'] }">
                              <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                              <div class="text-danger" *ngIf="displayMessage['paymentName']">
                                <small>{{displayMessage['paymentName']}}</small>
                            </div>
                          </div>
                      </div> 
                      <div class="form-group row">
                          <div class="col-md-3">
                              <div class="label-wrapper"><label class="control-label" for="charge">
                                <span class="text-danger"><strong>*</strong></span>&nbsp;Charge</label>
                                <div class="ico-help">
                                <i class="fa fa-question-circle"></i>
                                <span class="tooltiptext">The payment fee.</span>
                              </div>
                            </div>
                          </div>   
                        <div class="col-md-3">
                          <input type="number" id="charge"  formControlName="charge" class="form-control" 
                            [ngClass]="{'is-invalid': displayMessage['charge'] }">
                          <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                          <div class="text-danger" *ngIf="displayMessage['charge']">
                             <small>{{displayMessage['charge']}}</small>
                         </div>
                        </div>
                      </div>                               
                  </fieldset>
                </form>
              </div>
        </div>
      </div>      
</div>
