<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 mb-3">
          <h3 class="pull-left">
              Menu 
          </h3>
          <div class="ml-2 mt-2 pull-left">
              <i class="fa fa-arrow-circle-left"></i>
              <a [routerLink]="['/be/menus']">back to Menu List</a>
          </div> 
          <div class="pull-right">
            <button type="button" class="btn btn-primary"  form="mainForm" (click)="saveMenu()" [disabled]="!mainForm.valid">
              <i class="fa fa-floppy-o" ></i>&nbsp;Save</button>
            <button type="button" class="btn btn-primary" (click)="saveMenu('stay')" [disabled]="!mainForm.valid">
              <i class="fa fa-floppy-o"></i>&nbsp;Save and Continue Edit</button>
            <button type="button" class="btn btn-danger"  (click)="deleteMenu()" [hidden]="menu.id == 0">
              <i class="fa fa-trash-o"></i>&nbsp;Delete</button>
        </div>                
      </div>
    </div>
    <div class="row">
          <div class="col-md-12 mb-4">
              <!-- Nav tabs -->
              <tabset>
                <tab heading="General">
                    <div class="col-md-12">
                    <form class="form-horizontal" novalidate (ngSubmit)="saveMenu()" [formGroup]="mainForm" >
                      <fieldset>
                        <div class="col-md-12">                     
                          <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i>  {{ pageTitle }}
                            </div>          
                            <div class="card-body p-4">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <div class="label-wrapper"><label class="control-label" for="categoryId">
                                          <span class="text-danger"><strong>*</strong></span>&nbsp;Category</label>
                                          <div class="ico-help">
                                          <i class="fa fa-question-circle"></i>
                                          <span class="tooltiptext">The Category that the Menu is attached.</span>
                                        </div>
                                      </div>
                                    </div>                           
                                    <div class="col-md-6">
                                        <select id="categoryId" formControlName="categoryId" 
                                          class="form-control" [ngClass]="{'is-invalid': displayMessage['categoryId'] }">
                                            <option *ngFor="let item of categories" [ngValue]="item.id">{{ item.name }}</option>
                                        </select>  
                                        <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                                        <div class="text-danger" *ngIf="displayMessage['categoryId']">
                                          <small>{{displayMessage['categoryId']}}</small>
                                      </div>
                                    </div>
                                </div> 
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <div class="label-wrapper"><label class="control-label" for="menuCode">
                                            Code</label>
                                          <div class="ico-help">
                                          <i class="fa fa-question-circle"></i>
                                          <span class="tooltiptext">The code use to identify the dish.</span>
                                        </div>
                                      </div>
                                    </div>   
                                    <div class="col-md-6">
                                      <input type="text" id="menuCode"  formControlName="menuCode" class="form-control"  >
                                  </div>
                                </div>  
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <div class="label-wrapper"><label class="control-label" for="menuSortNumber">
                                            Sort Number</label>
                                          <div class="ico-help">
                                          <i class="fa fa-question-circle"></i>
                                          <span class="tooltiptext">Display order of the specified dish. 0 represents the top of the list.</span>
                                        </div>
                                      </div>
                                    </div>   
                                    <div class="col-md-3">
                                      <input type="number" id="menuSortNumber"  formControlName="menuSortNumber" class="form-control"  >
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <div class="label-wrapper"><label class="control-label" for="menuName">
                                          <span class="text-danger"><strong>*</strong></span>&nbsp;Name</label>
                                          <div class="ico-help">
                                          <i class="fa fa-question-circle"></i>
                                          <span class="tooltiptext">The name of the Dish.</span>
                                        </div>
                                      </div>
                                    </div>                           
                                    <div class="col-md-6">
                                      <input type="text" id="extraName"  formControlName="menuName" class="form-control" 
                                        [ngClass]="{'is-invalid': displayMessage['menuName'] }">
                                        <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                                        <div class="text-danger" *ngIf="displayMessage['menuName']">
                                          <small>{{displayMessage['menuName']}}</small>
                                      </div>
                                    </div>
                                </div> 
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <div class="label-wrapper"><label class="control-label" for="menuSubName">
                                            Subname</label>
                                          <div class="ico-help">
                                          <i class="fa fa-question-circle"></i>
                                          <span class="tooltiptext">This is used where the Dish has sub dishes.</span>
                                        </div>
                                      </div>
                                    </div>   
                                    <div class="col-md-6">
                                      <input type="text" id="menuSubName"  formControlName="menuSubName" class="form-control"  >
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <div class="label-wrapper"><label class="control-label" for="shortDesc">Short Description</label>
                                          <div class="ico-help">
                                          <i class="fa fa-question-circle"></i>
                                          <span class="tooltiptext">The short description of the dish. This is the text that displays in the Menu list</span>
                                        </div>
                                      </div>
                                    </div>   
                                    <div class="col-md-9">
                                        <textarea id="shortDesc" name="shortDesc" rows="3" formControlName="shortDesc" class="form-control" ></textarea>
                                    </div>
                                  </div>                                
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <div class="label-wrapper"><label class="control-label" for="tourDesc">
                                            Full Desccription</label>
                                          <div class="ico-help">
                                          <i class="fa fa-question-circle"></i>
                                          <span class="tooltiptext">The full description of the dish.</span>
                                        </div>
                                      </div>
                                    </div>   
                                    <div class="col-md-9">
                                        <quill-editor formControlName="menuDesc" [style]="{height: '250px'}"></quill-editor>
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <div class="label-wrapper"><label class="control-label" for="unitPrice">
                                          <span class="text-danger"><strong>*</strong></span>&nbsp;Price</label>
                                          <div class="ico-help">
                                          <i class="fa fa-question-circle"></i>
                                          <span class="tooltiptext">The unit price.</span>
                                        </div>
                                      </div>
                                    </div>   
                                  <div class="col-md-3">
                                    <input type="number" id="unitPrice"  formControlName="unitPrice" class="form-control" 
                                      [ngClass]="{'is-invalid': displayMessage['unitPrice'] }">
                                    <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                                    <div class="text-danger" *ngIf="displayMessage['unitPrice']">
                                       <small>{{displayMessage['unitPrice']}}</small>
                                   </div>
                                  </div>
                                </div>  
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <div class="label-wrapper"><label class="control-label" for="menuImageType">Allergy Type</label>
                                          <div class="ico-help">
                                          <i class="fa fa-question-circle"></i>
                                          <span class="tooltiptext">Specifies the image of the dish content which some people could react to if not made aware.</span>
                                        </div>
                                      </div>
                                    </div>                           
                                    <div class="col-md-3">
                                        <select id="menuImageType" formControlName="menuImageType" class="form-control">
                                            <option *ngFor="let item of allergyList" [ngValue]="item.value">{{ item.display }}</option>
                                        </select>  
                                    </div>
                                </div> 
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <div class="label-wrapper"><label class="control-label" for="menuImageType">Show Options</label>
                                          <div class="ico-help">
                                          <i class="fa fa-question-circle"></i>
                                          <span class="tooltiptext">Check to publish dish options (visible on the menu page). Uncheck to hide dish options.</span>
                                        </div>
                                      </div>
                                    </div>                           
                                    <div class="col-md-3" checkbox>
                                        <label><input id="showExtras" type="checkbox" formControlName = "showExtras" > </label>
                                    </div>
                                </div>                                                                                         
                              </div>
                            </div>
                        </div>                     
                      </fieldset>
                    </form>                           
                    </div>
                </tab>
                <tab heading="Options">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> Edit options and extras
                        </div>
                        <div class="card-body p-4">  
                            <div *ngFor="let e of extras" class="checkbox d-inline">
                                <label for="extra{{ e.id }}" class="col-md-3">
                                  <input type="checkbox" id="extra{{ e.id }}" (change)="onExtraToggle(e.id, $event)" [checked]="menu.menuExtras.includes(e.id)"> {{ e.name }}
                                </label>
                            </div>                        
                          </div>
                    </div>
                </tab>                
                <tab heading="Photos" *ngIf="menu?.id">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> Edit Menu Photo
                        </div>
                        <div class="card-body p-4">  
                            <app-edit-photo *ngIf="menu?.id "[photos]="photos" photoType="Dish" [photoTypeId]="menu?.id"></app-edit-photo>
                        </div>
                    </div>
                </tab>
              </tabset>
            </div>
<!--   <br>Dirty: {{ mainForm.dirty }} 
  <br>Touched: {{ mainForm.touched }}
  <br>Valid: {{ mainForm.valid }}
  <br>Value: {{ mainForm.value | json }} -->
  </div>
  </div>
