<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 mb-3">
        <h3 class="pull-left">
            System Users
        </h3>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> List of users         
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th style="width: 12%">Name</th>
                  <th style="width: 15%">Email</th>
                  <th style="width: 11%">Phone</th>
                  <th style="width: 14%">Department</th>
                  <th style="width: 13%">Position</th>
                  <th style="width: 12%">Role</th>                                                      
                  <th style="width: 15%">Last Active</th>
                  <th style="width: 7%">Action</th>                                        
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let user of users">
                  <td>{{ user.fullName }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phoneNumber }}</td>
                  <td>{{ user.department }}</td>
                  <td>{{ user.position }}</td>                                                                      
                  <td>{{ user.roles }}</td>
                  <td>{{ user.lastActive | date: 'dd-MMM-yyyy hh:mm' }}</td>                                  
                  <td style = "text-align:center; ">
                        <a class="btn btn-info btn-sm" (click)="editRolesModal(user)">
                          <i class="fa fa-edit "></i>
                        </a>
                        <a class="btn btn-danger btn-sm" (click)="deleteUser(user)">
                          <i class="fa fa-trash-o "></i>
                        </a>                        
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div> 
</div>
