<div class="animated fadeIn">
  <app-loading-spinner [loading]="spinnerprocessing"></app-loading-spinner>
  <div class="row">
    <div class="col-lg-12 mb-3">
        <h3 class="pull-left">
            Taxis and Private Chauffers
        </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mb-3">
      <div class="card">
          <div class="card-body">
              <div class="col-lg-12">
                <form [formGroup]="searchForm" class="form-horizontal">
                  <div class="col-md-6 clearleft"> 
                      <div class="form-group row">
                          <div class="col-md-4">
                              <div class="label-wrapper"><label class="control-label" for="fullname">Guest Name</label>
                                <div class="ico-help">
                                <i class="fa fa-question-circle"></i>
                                <span class="tooltiptext">The guest name.</span>
                              </div>
                            </div>
                          </div>                                                     
                          <div class="col-md-8">
                              <input class="form-control" id="fullname"  type="text"  formControlName="fullname" />
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-md-4">
                              <div class="label-wrapper"><label class="control-label" for="email">Email</label>
                                <div class="ico-help">
                                <i class="fa fa-question-circle"></i>
                                <span class="tooltiptext">The guest email.</span>
                              </div>
                            </div>
                          </div>                                                     
                          <div class="col-md-8">
                              <input class="form-control" id="email"  type="text"  formControlName="email" />
                          </div>
                      </div>  
                      <div class="form-group row">
                          <div class="col-md-4">
                              <div class="label-wrapper"><label class="control-label" for="phone">Phone</label>
                                <div class="ico-help">
                                <i class="fa fa-question-circle"></i>
                                <span class="tooltiptext">The guest contact number.</span>
                              </div>
                            </div>
                          </div>                                                     
                          <div class="col-md-8">
                              <input class="form-control" id="phone"  type="text"  formControlName="phone" />
                          </div>
                      </div>                                                                                                                
                  </div>
                  <div class="col-md-6 clearright">
                      <div class="form-group row">
                          <div class="col-md-4">
                              <div class="label-wrapper"><label class="control-label" for="fullname">Room Number</label>
                                <div class="ico-help">
                                <i class="fa fa-question-circle"></i>
                                <span class="tooltiptext">The guest room number.</span>
                              </div>
                            </div>
                          </div>                                                     
                          <div class="col-md-8">
                              <input class="form-control" id="roomNumber"  type="text"  formControlName="roomNumber" />
                          </div>
                      </div>                     
                    <div class="form-group row">
                        <div class="col-md-4">
                            <div class="label-wrapper"><label class="control-label" for="reservationdate">Booking Date</label>
                              <div class="ico-help">
                              <i class="fa fa-question-circle"></i>
                              <span class="tooltiptext">The booking date.</span>
                            </div>
                          </div>
                        </div>                                                     
                        <div class="col-md-8">
                            <input type="text" class="form-control"  bsDatepicker formControlName="bookingdate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"/>            
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class="col-md-4">
                            <div class="label-wrapper"><label class="control-label" for="menuImageType">Show All</label>
                              <div class="ico-help">
                              <i class="fa fa-question-circle"></i>
                              <span class="tooltiptext">This shows all bookings.</span>
                            </div>
                          </div>
                        </div>                           
                        <div class="mt-1 ml-3" checkbox>
                            <label><input id="showBookings" type="checkbox" formControlName = "showAll" > </label>
                        </div>
                    </div>                             
                  </div>                  
                  <div class="form-group clear row">
                    <div class="col text-center">                             
                      <button  class="btn btn-primary btn-search" (click)="SearchBooking()"><i class="fa fa-search"></i>&nbsp;Search</button> 
                    </div>
                  </div>                                              
                  </form>                
                </div>
          </div>        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Taxi and Private Chauffer List
              <div class="pull-right">
                  <label style="margin-right: 10px">Order By: </label>
                    <div class="btn-group mt-1" btnRadioGroup [(ngModel)]="taxiParams.orderBy" >
                      <label class="btn btn-success btn-sm" btnRadio="Created"
                            uncheckable tabindex="0" role="button" (click)="loadSorting()">Created</label>
                      <label class="btn btn-success btn-sm" btnRadio="BookedFor"
                            uncheckable tabindex="0" role="button" (click)="loadSorting()">Booked For</label>
                    </div>                    
            </div>            
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Created On</th>
                  <th>Guest Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Room</th>                    
                  <th>Booked For</th> 
                  <th>People</th> 
                  <th>Status</th>                                                       
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let item of taxis">
                  <td>{{ item.createdOn | date: 'dd-MMM-yyyy  hh:mm'}}</td>                    
                  <td>{{ item.guestName }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.phone  }}</td>
                  <td>{{ item.roomNumber  }} </td>
                  <td>{{ item.resDate }} {{ item.resTime}}</td>  
                  <td>{{ item.noOfPerson  }} </td>  
                  <td>{{ item.bookStatus  }} </td>                                                                          
                  <td style = "text-align:center; width:100px">
                      <a class="btn btn-info btn-sm" [routerLink]="['/housekeep/taxis', item.id, 'edit']">
                        <i class="fa fa-edit "></i>Edit
                      </a>
                </td>                    
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-lg-7">
                  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)"
                  [(ngModel)]="pagination.currentPage"  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                  lastText="&raquo;"></pagination>
              </div>
              <div class="col-lg-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Limit</span>
                      </div>                
                    <div class="text-center">
                        <select  class="form-control"   name="showPageSize" [(ngModel)]="pagination.itemsPerPage" (change)='loadSorting()'>
                          <option *ngFor="let entry of entryList" [value]="entry.value">
                            {{entry.display}}
                          </option>
                        </select>                  
                    </div>
                  </div>
            </div>
            <div class="col-lg-2"><label class="pull-right mt-2">{{ pagesDisplay }}</label></div>
          </div> 
        </div>
    </div> 
    </div>
  </div> 
