<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12 mb-3">
          <h3 class="pull-left">
             Room
          </h3>
          <div class="ml-2 mt-2 pull-left">
              <i class="fa fa-arrow-circle-left"></i>
              <a [routerLink]="['/be/rooms']">back to Room List</a>
          </div>
          <div class="pull-right">
              <button type="button" class="btn btn-primary"  form="mainForm" (click)="saveRoom()" [disabled]="!mainForm.valid">
                <i class="fa fa-floppy-o" ></i>&nbsp;Save</button>
              <button type="button" class="btn btn-primary" (click)="saveRoom('stay')" [disabled]="!mainForm.valid">
                <i class="fa fa-floppy-o"></i>&nbsp;Save and Continue Edit</button>
              <button type="button" class="btn btn-danger"  (click)="deleteRoom()" [hidden]="room.id == 0">
                <i class="fa fa-trash-o"></i>&nbsp;Delete</button>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i>  {{ pageTitle }}
            </div>
            <div class="card-body">
                <div class="col-lg-8">
                  <form class="form-horizontal" novalidate (ngSubmit)="saveRoom()" [formGroup]="mainForm" id="mainForm">
                    <fieldset>
                      <div class="form-group row">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="RoomNo">
                              <span class="text-danger"><strong>*</strong></span>&nbsp;Room No.</label>
                              <div class="ico-help">
                              <i class="fa fa-question-circle"></i>
                              <span class="tooltiptext">The Room number.</span>
                            </div>
                          </div>
                        </div>                           
                        <div class="col-md-9">
                          <input type="text" id="RoomNo"  formControlName="roomNo" class="form-control" 
                            [ngClass]="{'is-invalid': displayMessage['roomNo'] }">
                            <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                            <div class="text-danger" *ngIf="displayMessage['roomNo']">
                              <small>{{displayMessage['roomNo']}}</small>
                          </div>
                        </div>
                      </div>                       
                      <div class="form-group row">
                          <div class="col-md-3">
                              <div class="label-wrapper"><label class="control-label" for="floorNo">Floor No</label>
                                <div class="ico-help">
                                <i class="fa fa-question-circle"></i>
                                <span class="tooltiptext">The Floor number.</span>
                              </div>
                            </div>
                          </div>                           
                          <div class="col-md-9">
                            <input type="text" id="floorNo"  formControlName="floorNo" class="form-control" >
                            </div>
                      </div> 
                      <div class="form-group row">
                          <div class="col-md-3">
                              <div class="label-wrapper"><label class="control-label" for="building">Building</label>
                                <div class="ico-help">
                                <i class="fa fa-question-circle"></i>
                                <span class="tooltiptext">The building that the room situated</span>
                              </div>
                            </div>
                          </div>                           
                          <div class="col-md-9">
                            <input type="text" id="building"  formControlName="building" class="form-control" >
                            </div>
                      </div> 
                      <div class="form-group row">
                          <div class="col-md-3">
                              <div class="label-wrapper"><label class="control-label" for="roomDesc">Description</label>
                                <div class="ico-help">
                                <i class="fa fa-question-circle"></i>
                                <span class="tooltiptext">Short description of the room</span>
                              </div>
                            </div>
                          </div>                           
                          <div class="col-md-9">
                              <textarea id="roomDesc" name="roomDesc" rows="3" formControlName="roomDesc" class="form-control" ></textarea>
                          </div>
                      </div>                             
                    </fieldset>
                  </form>
                </div>
          </div>
        </div>      
  </div>
