<div class="animated fadeIn">
  <app-loading-spinner [loading]="spinnerprocessing"></app-loading-spinner>  
  <div class="row">
    <div class="col-lg-12 mb-3">
        <h3 class="pull-left">
           Password
        </h3>
        <div class="pull-right">
            <button  class="btn btn-primary"  form="mainForm"  [disabled]="!mainForm.valid">
              <i class="fa fa-floppy-o" ></i>&nbsp;Save</button>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>  Change Password
          </div>
          <div class="card-body">
              <div class="col-lg-9">
                <p>It's a good idea to use a strong password that you are not using elsewhere:</p>
                <form class="form-horizontal" novalidate (ngSubmit)="SaveChanges()" [formGroup]="mainForm" id="mainForm">
                  <fieldset>
                    <div class="form-group row">
                      <div class="col-md-4">
                          <div class="label-wrapper"><label class="control-label" for="currentPassword">
                            <span class="text-danger"><strong>*</strong></span>&nbsp;Current Password</label>
                            <div class="ico-help">
                            <i class="fa fa-question-circle"></i>
                            <span class="tooltiptext">Enter your current password.</span>
                          </div>
                        </div>
                      </div>                           
                      <div class="col-md-8">
                        <input type="password" id="currentPassword"  formControlName="currentPassword" class="form-control" 
                          [ngClass]="{'is-invalid': displayMessage['currentPassword'] }">
                          <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                          <div class="text-danger" *ngIf="displayMessage['currentPassword']">
                            <small>{{displayMessage['currentPassword']}}</small>
                        </div>
                      </div>
                    </div> 
                    <div formGroupName="passwordGroup" >                     
                      <div class="form-group row">
                          <div class="col-md-4">
                              <div class="label-wrapper"><label class="control-label" for="newPassword">
                                <span class="text-danger"><strong>*</strong></span>&nbsp;New Password</label>
                                <div class="ico-help">
                                <i class="fa fa-question-circle"></i>
                                <span class="tooltiptext">The new password.</span>
                              </div>
                            </div>
                          </div>                             
                          <div class="col-md-8">
                              <input type="password" id="newPassword"  formControlName="newPassword" class="form-control" 
                                [ngClass]="{'is-invalid': displayMessage['newPassword'] }">
                                <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                                <div class="text-danger" *ngIf="displayMessage['newPassword']">
                                  <small>{{displayMessage['newPassword']}}</small>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-md-4">
                              <div class="label-wrapper"><label class="control-label" for="confirmPassword">
                                <span class="text-danger"><strong>*</strong></span>&nbsp;Re-type New Password</label>
                                <div class="ico-help">
                                <i class="fa fa-question-circle"></i>
                                <span class="tooltiptext">Confirm the new password.</span>
                              </div>
                            </div>
                          </div>                             
                          <div class="col-md-8">
                              <input type="password" id="confirmPassword"  formControlName="confirmPassword" class="form-control" 
                                [ngClass]="{'is-invalid': displayMessage['confirmPassword'] }">
                                <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                                <div class="text-danger" *ngIf="displayMessage['confirmPassword']">
                                  <small>{{displayMessage['confirmPassword']}}</small>
                              </div>
                              <span class="text-danger" *ngIf="passwordMessage">
                                <small>{{ passwordMessage }}</small>
                              </span> 
                          </div>
                      </div>                          
                    </div> 
                  </fieldset>
                </form>
              </div>
        </div>
      </div>      
</div>
