<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 mb-3">
          <h3 class="pull-left">
              Profile
          </h3>
          <div class="pull-right">
              <button type="button" class="btn btn-primary" [routerLink]="['/be/profile/edit']"><i class="fa fa-edit"></i>&nbsp;Edit</button>
          </div>          
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">                     
          <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>Details
            </div>          
            <div class="card-body p-4">
              <div class="col-md-8">
                <form class="form-horizontal" novalidate >
                  <div class="form-group row">
                    <div class="col-md-3">
                        <div class="label-wrapper"><label class="control-label" for="">
                            Name</label>
                          <div class="ico-help">
                          <i class="fa fa-question-circle"></i>
                          <span class="tooltiptext">The name of the user.</span>
                        </div>
                      </div>
                    </div>   
                    <div class="col-md-9"><label class="mt-1" for="">{{ profile.username }}</label></div>
                  </div> 
                  <div class="form-group row">                   
                  <div class="col-md-3">
                      <div class="label-wrapper"><label class="control-label" for="">
                          Email</label>
                        <div class="ico-help">
                        <i class="fa fa-question-circle"></i>
                        <span class="tooltiptext">The email address of the user.</span>
                      </div>
                    </div>
                  </div>   
                  <div class="col-md-9"><label class="mt-1" for="">{{ profile.email }}</label></div>
                </div> 
                <div class="form-group row">                   
                    <div class="col-md-3">
                        <div class="label-wrapper"><label class="control-label" for="">
                            Hotel</label>
                          <div class="ico-help">
                          <i class="fa fa-question-circle"></i>
                          <span class="tooltiptext">The name of the hotel.</span>
                        </div>
                      </div>
                    </div>   
                    <div class="col-md-9"><label class="mt-1" for="">{{ profile.hotelName }}</label></div>
                  </div>
                  <div class="form-group row">                   
                      <div class="col-md-3">
                          <div class="label-wrapper"><label class="control-label" for="">
                              Hotel Code</label>
                            <div class="ico-help">
                            <i class="fa fa-question-circle"></i>
                            <span class="tooltiptext">The hotel reference.</span>
                          </div>
                        </div>
                      </div>   
                      <div class="col-md-9"><label class="mt-1" for="">{{ profile.hotelCode }}</label></div>
                  </div>
                  <div class="form-group row">                   
                      <div class="col-md-3">
                          <div class="label-wrapper"><label class="control-label" for="">
                              Last Active</label>
                            <div class="ico-help">
                            <i class="fa fa-question-circle"></i>
                            <span class="tooltiptext">The last active date.</span>
                          </div>
                        </div>
                      </div>   
                      <div class="col-md-9"><label class="mt-1" for="">{{ profile.lastActive | date: 'dd-MMM-yyyy hh:mm' }}</label></div>
                  </div>
                  <div class="form-group row">                   
                      <div class="col-md-3">
                          <div class="label-wrapper"><label class="control-label" for="">
                              Created </label>
                            <div class="ico-help">
                            <i class="fa fa-question-circle"></i>
                            <span class="tooltiptext">The date that the account was created.</span>
                          </div>
                        </div>
                      </div>   
                      <div class="col-md-9"><label class="mt-1" for="">{{ profile.created | date: 'dd-MMM-yyyy hh:mm'}}</label></div>
                  </div>                                                                                                                                                                                                                                                                                       
                </form>
              </div>
            </div>
          </div>
      </div>                                               
  </div>
</div>
