<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12 mb-3">
          <h3 class="pull-left">
             Profile
          </h3>
          <div class="ml-2 mt-2 pull-left">
              <i class="fa fa-arrow-circle-left"></i>
              <a [routerLink]="['/be/profile/view']">back to Profile Details</a>
          </div>
          <div class="pull-right">
              <button  class="btn btn-primary"  form="mainForm"  [disabled]="!mainForm.valid">
                <i class="fa fa-floppy-o" ></i>&nbsp;Save</button>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i>  Edit Profile
            </div>
            <div class="card-body">
                <div class="col-lg-8">
                  <form class="form-horizontal" novalidate (ngSubmit)="SaveChanges()" [formGroup]="mainForm" id="mainForm">
                    <fieldset>
                      <div class="form-group row">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="username">
                              <span class="text-danger"><strong>*</strong></span>&nbsp;Username.</label>
                              <div class="ico-help">
                              <i class="fa fa-question-circle"></i>
                              <span class="tooltiptext">Username.</span>
                            </div>
                          </div>
                        </div>                           
                        <div class="col-md-9">
                          <input type="text" id="username"  formControlName="username" class="form-control" 
                            [ngClass]="{'is-invalid': displayMessage['username'] }">
                            <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                            <div class="text-danger" *ngIf="displayMessage['username']">
                              <small>{{displayMessage['username']}}</small>
                          </div>
                        </div>
                      </div>                       
                      <div class="form-group row">
                          <div class="col-md-3">
                              <div class="label-wrapper"><label class="control-label" for="email">
                                <span class="text-danger"><strong>*</strong></span>&nbsp;Email</label>
                                <div class="ico-help">
                                <i class="fa fa-question-circle"></i>
                                <span class="tooltiptext">Email address.</span>
                              </div>
                            </div>
                          </div>                             
                          <div class="col-md-9">
                              <input type="text" id="email"  formControlName="email" class="form-control" 
                                [ngClass]="{'is-invalid': displayMessage['email'] }">
                                <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                                <div class="text-danger" *ngIf="displayMessage['email']">
                                  <small>{{displayMessage['email']}}</small>
                              </div>
                          </div>
                      </div>                           
                    </fieldset>
                  </form>
                </div>
          </div>
        </div>      
  </div>
