<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Create account</h1>
            <form class="form-horizontal" novalidate (ngSubmit)="Register()" [formGroup]="registerForm" >
              <fieldset>
                  <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hotelcode">Hotel Code</label>
                      <div class="col-md-9">
                        <input type="text" id="hotelcode"  formControlName="hotelcode" class="form-control" placeholder="Hotel code (required)" 
                          [ngClass]="{'is-invalid': displayMessage['hotelcode'] }" >
                        <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                        <div class="text-danger" *ngIf="displayMessage['hotelcode']">
                           <small>{{displayMessage['hotelcode']}}</small>
                       </div>
                      </div>
                  </div>                 
                  <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="name">Name</label>
                      <div class="col-md-9">
                        <input type="text" id="name"  formControlName="username" class="form-control" placeholder="Name (required)" 
                          [ngClass]="{'is-invalid': displayMessage['username'] }" >
                        <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                        <div class="text-danger" *ngIf="displayMessage['username']">
                           <small>{{displayMessage['username']}}</small>
                       </div>
                      </div>
                  </div> 
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="email">Email</label>
                    <div class="col-md-9">
                      <input type="text" id="email"  formControlName="email" class="form-control" placeholder="Email (required)" 
                        [ngClass]="{'is-invalid': displayMessage['email']  }">
                      <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                      <div class="text-danger" *ngIf="displayMessage['email']">
                         <small>{{displayMessage['email']}}</small>
                     </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="password">Password</label>
                    <div class="col-md-9">
                      <input type="password" id="password"  formControlName="password" class="form-control" placeholder="Password (required)" 
                        [ngClass]="{'is-invalid': displayMessage['password'] }">
                      <span class="fa fa-eraser invalid-feedback" aria-hidden="true"></span>
                      <div class="text-danger" *ngIf="displayMessage['password']">
                         <small>{{displayMessage['password']}}</small>
                     </div>
                    </div>
                  </div>               
                  <div class="form-group row">
                      <button type="submit" class="btn btn-block btn-success" [disabled]="!registerForm.valid">Sign up</button> 
                  </div>                  
              </fieldset>
            </form>

          </div>
          <div class="card-footer p-4">
            <div class="row">
              <div >
                <p>By creating an account you agree to our <a href="#" >Terms and Conditions</a>. 
                  Please read our <a href="#" >Privacy Policy</a> and <a href="#" >Cookie Policy.</a></p>
              </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
