// Custom styles for this template

.card, .social-box {
  border-top-width: 0;
  border-bottom-width: 2 * $card-border-width;
}

[class*="card-outline-"] {
  border-top-width: 1px !important;
}

[class*="card-accent-"] {
  border-top-width: 2px !important;
}

.aside-menu {
  .nav-tabs .nav-link,
  .callout {
    border-radius: 0;
  }
}

// Here you can add other styles
.form-horizontal .label-wrapper {
  display: table;
  float: right;
  min-height: 28px;
}
.form-horizontal .label-wrapper .control-label {
  display: table-cell;
  font-weight: bold;
}

.form-horizontal .label-wrapper .ico-help {
  display: table-cell;
  color: #3c8dbc;
  font-size: 1.17em;
  padding-left: 6px;
}

.form-horizontal .label-wrapper i.fa:before {
  position: absolute;
  top: 5px;
}


.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #df382c;
  }
 .fa-eraser {
    width: 15px;
    margin: -25px 10px;
    float: right;
  }

.form-horizontal .label-wrapper .ico-help .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #e4e6eb;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.3s;
}

.form-horizontal .label-wrapper .ico-help .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.form-horizontal .label-wrapper .ico-help:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}  

// splash screen section
.splash {
  position: absolute;
  z-index: 2000;
  background: white;
  color: gray;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

.splash-title {
  text-align: center;
  max-width: 500px;
  margin: 15% auto;
  padding: 20px
}

.splash-title h1{
  font-size: 26px
}

.color-line {
  border-radius:4px 4px 0 0
}